<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Monitor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/assets/favicon-16x16.png">
</head>
<body>
    <script>
        const socket = io();
        socket.on('temperature', (data) => {
            console.log(data);
            document.getElementById("temperature").innerHTML = `Temperature: ${data.temperature}˚F`;
	    document.getElementById("rh").innerHTML = `Relative Humidity: ${data.rh}%`;
            document.getElementById("snr").innerHTML = `SNR: ${data.snr}`;
            document.getElementById("rssi").innerHTML = `RSSI: ${data.rssi}`;
            document.getElementById("last_updated").innerHTML = `Reported At: ${data.timestamp}`;
            
        });
    </script>
    <%- include('nav') %>
    <div class="h1 text-center mb-3">New data in ~5 seconds...</div>
    <div id="temperature" class="h2 text-center"></div>
    <div id="rh" class="h2 text-center"></div>
    <div id="rssi" class="h2 text-center"></div>
    <div id="snr" class="h2 text-center"></div>
    <div id="last_updated" class="h2 text-center"></div>

    <%- include('footer') %>
</body>
</html>
